doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Wedding BOT
  body
    .header
      h1.page-title Perfect Wedding Agent
    
    .col-md-8.col-md-offset-2  
      // iframe(src='https://webchat.botframework.com/embed/wedding-agent-pt?s=' + process.env.MicrosoftWebChatSecret, id='chatbox')      
      iframe(src='https://webchat.botframework.com/embed/wedding-agent-pt?s=IdjydNyv_Dw.cwA.tuY.TOmOsgvnAl2SJQ49sOcSqYEYrNX1Z-aVNjUiT1CXXT8', id='chatbox')      
    
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js')
      script(type='text/javascript').
        // jQuery Document
        $(document).ready(function(){
        });
    

    .footer
      p Copyright 
